@import 'bulma/bulma.scss';

html, body {
  height: 100%; /* Ensure the body takes up the full viewport height */
  overflow: hidden; /* Prevent the page from scrolling */
}

.email-thread-item {
  border: 1px solid var(--bulma-border);
  border-radius: var(--bulma-radius);
}

.messages {
  background-color: white;
  height: 0px;
}

.full-height-column {
  height: calc(100vh - var(--bulma-navbar-height));
}

.is-overflow-y-auto {
  overflow-y: auto;
}

.editor-container {
  border-top: 1px solid var(--bulma-border);
}

.messages-and-editor {
  border-left: 1px solid var(--bulma-border);
}